* {
	font-family:arial;
	box-sizing: border-box;
}

main {
	width: 65%;
	max-width: 1600px;
	margin: auto;
	border: 2px solid grey;
	box-shadow: 3px 3px 3px lightgrey;
	padding: 10px;
	background-color: lightcyan;
}

h1, h2, h3 {
	text-align: center;
}

header, section {
	border:  1px solid lightblue;
	padding: 20px;
	margin: 10px auto;
}

.unidades {
	background-color: lightgoldenrodyellow;
}

header {
	background-color: lightskyblue;
}